<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome Our Page</h1>
    <p>About Us</p>
    <p>welcome to my projet</p>
    <a href="{{url_for('register')}}"><button>Sign up</button></a>
    <a href="{{url_for('login')}}"><button>Login</button></a>
       
</body>
</html>